<div class="container">
  <div class="book-details">
    <div class="title">
      <h1><%= @book.title %>/<%= @book.author %>著</h1>
    </div>
    <div class="table-responsive">
      <table class="table details text-center">
        <tr>
          <th>出版者</th>
          <td><%= @book.publisher %></td>
        </tr>
        <tr>
          <th>出版年</th>
          <td><%= @book.publish_date %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @book.genre %></td>
        </tr>
        <tr>
          <th>ISBN</th>
          <td><%= @book.isbn %></td>
        </tr>

        <tr>
        <% if @book.status %>
            <th>貸出可</th>
            <% if user_signed_in? && @books.count < 3 %>
              <div class="rentalBotton">
                <td>
                  <%= form_tag("/#{@book.id}/rental") do %>
                  <button type="submit" class="btn btn-default">借りる</button>
                  <% end %>
                </td>
              </div>
          <% end %>
          <% elsif @book.rental_user===current_user.email %>
            <div class="returnBotton">
              <% session[:rental_user] = current_user.id %>
                <th></th>
                <td>
                  <%= form_tag("/#{@book.id}/return") do %>
                  <button type="submit" class="btn btn-default">返却</button>
                  <% end %>
                </td>
              </div>
          <% else %>
            <th>貸出中</th>
            <td><%= @book.rental_user %></td>
        <% end %>
      </tr>
      </table>
    </div>
  </div>
</div>
