<div class="container">
  <div class="maintitle">
<h1>ログイン</h1>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <span class="login-span"><%= f.label :アカウント名 %></span><br />
    <div class="login-box"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
  </div>

  <div class="field">
    <span class="login-span"><%= f.label :パスワード %></span><br />
    <div class="login-box"><%= f.password_field :password, autocomplete: "off" %></div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <span class="login-span"><%= f.label :記録しますか %></span>
    </div>
  <% end -%>

  <div class="actions">
    <div class="login-box"><%= f.submit "ログイン" %></div>
  </div>
<% end %>
</div>
