<!DOCTYPE html>
<html>
  <head>
    <title>DensanLib</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- /jQueryを読み込む -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
      <%= link_to "電算ライブラリ", "/"%>
    </div>
      <ul class="header-menus">
        <%if user_signed_in? %>
          <li><%= link_to current_user.email, "/#{current_user.id}/user" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method:"delete" %></li>
          <li><%= link_to "購入希望", "wantBook" %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
        <li><%= link_to "問い合わせ", "inquiry" %></li>
        <li><%= link_to "ヘルプ", "help" %></li>
      </ul>
    </header>
    <main>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </main>
  <div id="footer">
  <footer>
    <div class="densanhp">
      <%= link_to "近畿大学電子計算機研究会", "http://kindai-csg.com/" %>
    </div>
    <div class="copyright">
      Copyright(C) 2018 CSG All rights reserved.
    </div>
  </footer>
</div>
  <p class="alert"><%= alert %></p>
</body>
</html>
